@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Outfit:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

*{
  font-family: Outfit;
}

#navbar .active hr {
  @apply block;
}

::-webkit-scrollbar {
  @apply hidden;
}

@media (max-width:740px){
  .active p{
    @apply text-white bg-[#b03053]
  }
}